
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><i class="glyphicon glyphicon-book"></i> Project Details</div>
		  <div class="panel-body">
			<strong>Project Code:</strong>
		    <%-project_detail.project_code%>
		    <br>
			<strong>Title:</strong>
			<%-project_detail.title%>
			<br>
          	<strong>Description:</strong><br>
          	<%-project_detail.description%>
		  </div>
		</div>
	</div>
	<div class="col-lg-6">	
		<div class="panel panel-default">
		  <div class="panel-heading"><i class="glyphicon glyphicon-user"></i> Client Details</div>
		  <div class="panel-body">
			<strong>Client Name:</strong>
		    <%-client_detail.name%>
		    <br>
			<strong>Company:</strong>
			<%-client_detail.company%>
			<br>
          	<strong>Designation:</strong>
          	<%-client_detail.designation%>
			<br>
          	<strong>Address:</strong>
          	<%-client_detail.address%>
		  </div>
		</div>	
	</div>

</div><!-- .row -->

<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading"><i class="glyphicon glyphicon-list"></i> Job Order List</div>
				  <div class="panel-body">
				  	<a href="/<%-project_detail.project_code%>/<%-project_detail.id%>/job-orders/new" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i> New Job Order</a>
				  	<br>
				  	<br>
				  	<div class="table-responsive">
						<table class="table table-hover table-bordered">
					      <thead>
					        <tr>

					          <th>Job Order #</th>
					          <th>Job Request</th>
					          <th>Requested By</th>
					          <th>Date Requested</th>
					          <th>Status</th>
					          <th class="text-center">Action</th>
					        </tr>
					      </thead>

					      <tbody id="joborder-list-container">
					      	<tr>
					      	  <td colspan="6" class="text-center"><img src="/linker/images/ajax-loader.gif"></td>
					      	</tr>
					      	
					      	<% /*for(key in joborder_list){ %>
								<% - partial('../partials/joborder_list.ejs', {joborder: joborder_list[key]})%>			      	
					      	<% } */%>

					      </tbody>
						</table>
					</div>
				  </div>
				</div><!-- .panel-default -->

				<div class="panel panel-default">
				  <div class="panel-heading"><i class="glyphicon glyphicon-barcode"></i> Invoice List</div>
				  <div class="panel-body">
				  	<a href="/<%-project_detail.project_code%>/<%-project_detail.id%>/invoice/create" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i> New Invoice</a>
				  	<br>
				  	<br>
				  	<div class="table-responsive">
						<table class="table table-hover table-bordered">
					      <thead>
					        <tr>
					          <th>Invoice #</th>
					          <th>Date Generated</th>
					          <th>Invoice Amount</th>
					          <th>Status</th>
					          <th class="text-center">Action</th>
					        </tr>
					      </thead>

					      <tbody>
							<tr>
								<td>IPHN5-2014-000001</td>
								<td>Job1</td>
								<td>Ben</td>
								<td>
										<span class="label label-danger">Closed</span>
								</td>
								<td>
										<a href="javascript:void(0);" class="popover-summary" data-remarks="sd" data-title="April 22, 2014">
											<i class="glyphicon glyphicon-resize-full"></i>
										</a>		
								</td>
							</tr>
					     
					      </tbody>
						</table>
					</div>
					<em>**Invoice marked as closed are considered paid.</em>
				  </div>
				</div><!-- .panel-default -->

			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$.post('/job-orders/load', {project_id: <%- project_detail.id %>}, function(data){
		  setTimeout(function(){
		    $("#joborder-list-container").html(data.response);
		  }, 500);
		});
	});
</script>

<% // ------- INCLUDE  Partial TEMPLATES ------- // %>
<%- partial('../partials/popovers/mark_as_close.ejs', { project_id:  project_detail.id})%>
<%- partial('../partials/popovers/close_summary.ejs', { project_id:  project_detail.id})%>
