<tr>
	<td><input type="checkbox" name="joborder_id[<%- joborder.id %>]" value="<%- joborder.id %>|<%- joborder.amount %>"></td>
	<td><%- joborder.ticket_number %></td>
	<td><%- joborder.title %></td>
	<td><%- AppHelper.convertDateToReadable('%B %d, %Y', joborder.date_requested) %></td>
	<td><%- AppHelper.convertDateToReadable('%B %d, %Y', joborder.date_completed) %></td>
	<td class="text-right"><strong>P <%- AppHelper.number_format(joborder.amount, 2) %></strong></td>
</tr>