<div class="row">

    <% if(flash && flash.err) { %>
	  <ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
	  <li><%- flash.err[error] %></li>
	<% }) %>
	  </ul>
	<% } %>

	<div class="col-lg-10 col-lf-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading"><i class="glyphicon glyphicon-plus"></i> Add New Invoice</div>
		  <div class="panel-body">
		      <form class="form-horizontal" role="form" action="/project/create" method="post">

		      	<div class="col-sm-12">
				  <div class="form-group">
				    <label for="description"><u>SERVICE BILLING</u></label>
					<div><strong>No.: </strong> &lt;system generated&gt;</div>
				    <div>
				    	<strong class="pull-left">Date:</strong><input type="text" name="date_generated" id="date_generated" class="datepicker" style="border:none; padding:0px 6px;" value="<%-date_generated%>">
			    	</div>				    
				  </div>
				</div>

				<div class="col-sm-12"></div>

		      	<div class="col-sm-12">
				  <div class="form-group"><br>
				    <label for="description"><u>CLIENT DETAILS</u></label>
				    <div><strong>Name:</strong> <%-client.name %></div>
				    <div><strong>Company:</strong> <%-client.company %></div>
				    <div><strong>Designation:</strong> <%-client.designation %></div>
				    <div><strong>Address:</strong> <%-client.address %></div>
				  </div>
				</div>

				<div class="col-sm-12"></div>

		      	<div class="col-sm-12">
				  <div class="form-group"><br>
				    <label for="description"><u>BILLING DETAILS</u></label>
				  </div>
				</div>

				<table class="table table-hover table-bordered">
			      <thead>
			        <tr>
			          <th width="10"></th>			        	
			          <th>Job Order No.#</th>
			          <th>Particulars / Remarks</th>
			          <th>Date Completed</th>
			          <th class="text-center">Amount</th>
			        </tr>
			      </thead>

			      <tbody>
		      	    <tr>
		      	      <td><a href="javascript:void(0);" data-toggle="modal" data-target="#modal-joborder-selection"><i class="glyphicon glyphicon-zoom-in"></i></a></td>
		      	      <td colspan="4"></td>
		      	    </tr>
			      </tbody>
				</table>

		  <!--       <div class="form-group">
		          <div class="col-sm-12">
		            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Submit</button>
		          </div>
		        </div> -->
		      </form>   
		  </div>
		</div>

	</div>
</div>

<!-- //load modal for joborder selection -->
<%- partial('../partials/modals/joborder_selection.ejs')%>